.card {
  display: inline-block;
  width: 140px;
  height: 110px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.card div {
  margin-top: 10px;
}